<div class="d-block page-section container-fluid" style="display: block; margin: 50px 0 50px 0">
  <div class="d-flex align-items-center justify-content-center p-5">
    <div class="text-center">
      <h1 class="display-1 fw-bold">404!</h1>
      <p class="fs-3"><span class="text-danger">Lỗi!</span> Không tìm thấy trang này.</p>
      <p class="lead">
        Trang bạn truy cập hiện không tồn tại
      </p>
      <a href="" [routerLink]="['/home']" class="btn btn-danger">Quay lại trang chủ</a>
    </div>
  </div>
</div>
