
<div style="background-color: beige; height: 2px">

</div>
<div id="footer" style="color: rgba(255,255,255,0.6)">
  <div style="padding-top: 30px" class="d-flex justify-content-center">
    <h1>LIÊN HỆ CHÚNG TÔI</h1>
  </div>
  <div class="d-flex justify-content-center">
    <h6>Địa chỉ: 295 Nguyễn Tất Thành</h6>
  </div>
  <div class="d-flex justify-content-center">
    <h6>Email: C0222G2@Gmail.com</h6>
  </div>
  <div class="d-flex justify-content-center">
    <h6>Fax: 999-999</h6>
  </div>
  <div class="container" style="margin-bottom: -50px">
    <div class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a routerLink="/home" class="nav-link px-2 text-muted">Trang chủ</a></li>
        <li class="nav-item"><a  class="nav-link px-2 text-muted">Nổi Bật</a></li>
        <li class="nav-item"><a  class="nav-link px-2 text-muted">Chứng Nhận</a></li>
        <li class="nav-item"><a  class="nav-link px-2 text-muted">Mẫu trả lời</a></li>
        <li class="nav-item"><a  class="nav-link px-2 text-muted">Về Chúng tôi</a></li>
      </ul>
      <p class="text-center text-muted">© 2021 Company, Inc</p>
    </div>
  </div>
</div>

