<div>
  number 1 :
  <input  [(ngModel)]="number1">
</div>
<div>
  number 2 :
  <input  [(ngModel)]="number2">
</div>
<div class="d-flex d-inline">
  <div class="p-1">
    <button class="btn btn-primary" (click)="plus()">+</button>
  </div>
  <div class="p-1">
    <button class="btn btn-primary" (click)="sub()">-</button>
  </div>
  <div class="p-1">
    <button class="btn btn-primary" (click)="mul()">*</button>
  </div>
  <div class="p-1">
    <button class="btn btn-primary" (click)="div()">/</button>
  </div>
</div>

<div>
  result = {{result}}
</div>
