<div id="main" style="margin-top: 140px">


  <div style="color: #4e9a53; font-size: 60px; text-align: center;">
    EDIT CUSTOMER
  </div>


  <div style="text-align: center; color: #051554; font-size: 35px" id="messConfirm">
  </div>

  <div style="overflow-x:auto ; margin-top: 50px; background-color: beige;
 border-radius: 20px; box-shadow:5px 5px 5px 5px #ADCF9F" class="container">

    <table class="table table-hover" style="white-space: nowrap">
      <thead>
      <tr>
        <th>Name</th>
        <td>
          <input class="form-control">
        </td>
      </tr>
      <tr>
        <th>End Date</th>
        <td>
          <input class="form-control">
        </td>
      </tr>
      <tr>
        <th>Deposit</th>
        <td>
          <input class="form-control">
        </td>
      </tr>
      <tr>
        <th>Gender</th>
        <td>
          <input class="form-control">
        </td>
      </tr>
      <tr>
        <th>Id Card</th>
        <td>
          <input class="form-control">
        </td>
      </tr>
      <tr>
        <th>Phone</th>
        <td>
          <input class="form-control">
        </td>
      </tr>
      <tr>
        <th>Email</th>
        <td>
          <input class="form-control">
        </td>
      </tr>
      <tr>
        <th>Customer type</th>
        <td>
          <select class="form-select">
          </select>
        </td>
      </tr>
      <tr>
        <th>Address</th>
        <td>
          <input class="form-control">
        </td>
      </tr>
      </thead>
    </table>


  </div>
</div>
