h1 {font-family: "Raleway", sans-serif}

.main{
  position: relative;
}

.notification{
  position: absolute;
  right: 0;
  top: 200px;
  background-color: #ffffff;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  z-index: 1;
  cursor: pointer;
}

.notification-container{
  width: 450px;
  position: absolute;
  top: 100%;
  left: -200%;
  display: none;
}

.notification-list{
  list-style: none;
  display: block;
}

.notification-title{
  font-size: 18px;
}

.notification-body{
  font-size: 20px;
}

.number-notification{
  z-index: 999;
  position: relative;
  top: 0;
  left: 0;
  font-size: 20px;
  background-color: red;
  color: white;
  font-weight: 700;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-family: 'Bungee', cursive;
}

#demo img{
  filter: brightness(50%);
  height: 800px !important;
  width: 100% !important;
  object-fit: cover !important;
  overflow: hidden !important;
}
p{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-10%, -10%);
  color: white;
  font-size: 100px;
  white-space: nowrap;
}
.carousel-caption {
  width: 900px;
  left: 50%;
  top: 50% !important;
  transform: translate(-50%,-50%);
  font-size: 100px;
  /*white-space: nowrap;*/

}
#demo img{
  filter: brightness(50%);
  height: 800px !important;
  width: 100% !important;
  object-fit: cover !important;
  overflow: hidden !important;
}
