<!--Thực hành 1 ss03:-->
<!--<app-font-size-editor></app-font-size-editor>-->

<!--Thực hành 2 ss03:-->
<!--<app-pet></app-pet>-->

<!--Thực hành 3 ss03:-->
<!--<app-product></app-product>-->

<!--Bài tập 1 ss03:-->
<!--<app-calculator></app-calculator>-->

<!--Bài tập 2 ss03:-->
<!--<app-angular-color-picker-app></app-angular-color-picker-app>-->

<!--Bài tập 1 ss04:-->
<!--<app-navbar></app-navbar>-->
<!--<router-outlet></router-outlet>-->
<!--<app-footer></app-footer>-->

<!--thực hành 1 ss05:-->
<!--<app-name-card cardName="Professional Dev" email="prodev@codegym.vn" phone="0123456789"></app-name-card>-->

<!--thực hành 2 ss05:-->
<!--<app-progress-bar progress="0"></app-progress-bar>-->

<!--Bài tập 1 ss05:-->
<!--<app-rating-bar></app-rating-bar>-->

<!--Bài tập 2 ss05:-->
<!--<app-countdown-timer></app-countdown-timer>-->

<!--Thực hành 1 ss06-->
<!--<app-todo></app-todo>-->

<!--Bài tập 1 ss06-->
<!--<app-form-login></app-form-login>-->

<!--Bài tập 2 ss06-->
<!--<app-form-register></app-form-register>-->
