<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<form action="/song/edit" th:object="${songDto}" method="post">
    <input type="hidden" th:field="*{id}">
    <section class="vh-100 gradient-custom">
        <div class="container py-5 h-100">
            <div class="row justify-content-center align-items-center h-100">
                <div class="col-12 col-lg-9 col-xl-7">
                    <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                        <div class="card-body p-4 p-md-5">
                            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Thêm bài hát</h3>

                            <div class="row">
                                <div class="col-md-12 mb-4">

                                    <div class="form-outline">
                                        <input type="text" class="form-control form-control-lg"
                                               th:field="*{name}"/>
                                        Name Song
                                    </div>
                                    <small style="color: red"
                                           th:errors="*{name}"></small>
                                </div>
                                <div class="col-md-12 mb-4">

                                    <div class="form-outline">
                                        <input type="text" class="form-control form-control-lg" th:field="*{singer}"/>
                                        Singer
                                    </div>
                                    <small style="color: red" th:errors="*{singer}"></small>
                                </div>
                                <div class="col-md-12 mb-4">

                                    <div class="form-outline">
                                        <input type="text" class="form-control form-control-lg" th:field="*{type}"/>
                                        Type Song
                                    </div>
                                    <small style="color: red" th:errors="*{type}"></small>
                                </div>
                            </div>

                            <div class="mt-4 pt-2">
                                <input class="btn btn-primary btn-lg" type="submit" value="Edit"/>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>



</body>
</html>