<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active a">
      <img src="assets/img/10.jpg" alt="Los Angeles" class="d-block w-100" style="width:100%; height: auto">
      <div>
        <p>Furama Welcome</p>
        <div class="row">
        <div class="text col-3">
          Với phương châm “Vì sự hài lòng cao nhất của khách hàng”, Khách sạn chúng tôi đã và đang
          không ngừng phấn đấu, nâng cao chất lượng dịch vụ.
        </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/img/11.jpg" alt="Chicago" class="d-block" style="width:100%">
      <div>
        <p>Furama Welcome</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="assets/img/12.jpg" alt="New York" class="d-block" style="width:100%">
      <div>
        <p>Furama Welcome</p>
      </div>
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>

