<div id="main" style="margin-top: 140px">


  <div id="title-area" class="border border-secondary">
    <img src="assets/img/header-5.jpg" id="title-img" alt="villa">
    <div id="title-text">FACILITIES</div>
  </div>


  <div class="container card-group">
    <div class="row facilities">
      <div id="add-new">
        <a [routerLink]="['/facility-add']">
          <button class="btn btn-danger">Add new</button>
        </a>
      </div>
      <div class="col-md-4 col-sm-6 col-12 picture" *ngFor="let facility of facilityList">
        <div class="card">
          <a href="">
            <img [src]="facility.imgUrl">
          </a>
          <div class="card-body">
            <h5>{{facility.name | uppercase}}</h5>
            <div>Room size: {{facility.area}}m<sup>2</sup></div>
            <div class="button-area">
              <button class="btn btn-danger btn-sm" [routerLink]="['/facility-edit']">
                Edit
              </button>
              <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center mt-4">
    <!--paging-->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-end border border-dark">
        <ng-container *ngIf="checkFirstPage; else hasPreviousPage">
          <li class="page-item">
            <div class="page-link" style="pointer-events: none; color: #8a8a8a">Previous</div>
          </li>
          <li class="page-item">
            <div class="page-link" style="pointer-events: none; color: #8a8a8a">None</div>
          </li>
        </ng-container>
        <ng-template #hasPreviousPage>
          <li class="page-item">
            <a class="page-link" (click)="previousPage()">Previous</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="previousPage()">{{numberPage}}</a>
          </li>
        </ng-template>
        <li class="page-item"><a class="page-link">{{numberPage + 1}}</a></li>
        <ng-container *ngIf="checkNextPage; else hasNextPage">
          <li class="page-item">
            <div class="page-link" style="pointer-events: none; color: #8a8a8a">None</div>
          </li>
          <li class="page-item">
            <div class="page-link" style="pointer-events: none; color: #8a8a8a">Next</div>
          </li>
        </ng-container>
        <ng-template #hasNextPage>
          <li class="page-item">
            <a class="page-link" (click)="nextPage()">{{numberPage+2}}</a>
          </li>
          <li class="page-item">
            <a class="page-link" (click)="nextPage()">Next</a>
          </li>
        </ng-template>
      </ul>
    </nav>
  </div>
</div>

<!-- DELETE Modal -->
<div class="modal fade" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">CONFIRM DELETE</h5>
        <button type="button" class="btn" data-bs-dismiss="modal">
          X
        </button>
      </div>
      <div class="modal-body">
        ARE YOU SURE DELETE?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger">Yes</button>
      </div>
    </div>
  </div>
</div>
<!-- END DELETE Modal -->
