.pic {
  height: 200px;
  width: 200px;
  border: solid 2px;
}
.color-border {
  border-color: red;
}

.color {
  background-color: yellow;
}

.marginRight {
  margin-right: 10px;
}

.marginLeft {
  margin-left: 10px;
}
