<footer>
  <div style="margin-top: 200px" class="bg-dark">
    <div class="d-flex justify-content-center" style="height: 30px">
      <div class="p-2"><a href="#" style="color: #a8a2a2">Home</a></div>
      <div class="p-2"><a href="#" style="color: #a8a2a2">Features</a></div>
      <div class="p-2"><a href="#" style="color: #a8a2a2">Pricing</a></div>
      <div class="p-2"><a href="#" style="color: #a8a2a2">FAQs</a></div>
      <div class="p-2"><a href="#" style="color: #a8a2a2">About</a></div>
    </div>
    <div class="text-center text-muted">© 2021 Company, Inc</div>
  </div>
</footer>
