<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{home-page :: css}"></th:block>
</head>
<body>
<!-- ======= Header ======= -->
<th:block th:fragment="header">
    <header id="header" class="header d-flex align-items-center" style="background: #181818">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

            <a href="/furama" class="logo d-flex align-items-center">
                <h1>FURAMA<span>.</span></h1>
            </a>
            <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
            <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a href="/furama" class="active">Home</a></li>
                    <li><a href="" class="active">Employee</a></li>
                    <li><a href="/customer/list" class="active">Customer</a></li>
                    <li><a href="/facility/list" class="active">Facility</a></li>
                    <li><a href="" class="active">Contract</a></li>
                    <li class="dropdown"><a href="#" class="active"><span>Dropdown</span> <i
                            class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a href="#">Dropdown 1</a></li>
                            <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i
                                    class="bi bi-chevron-down dropdown-indicator"></i></a>
                                <ul>
                                    <li><a href="#">Deep Dropdown 1</a></li>
                                    <li><a href="#">Deep Dropdown 2</a></li>
                                    <li><a href="#">Deep Dropdown 3</a></li>
                                    <li><a href="#">Deep Dropdown 4</a></li>
                                    <li><a href="#">Deep Dropdown 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Dropdown 2</a></li>
                            <li><a href="#">Dropdown 3</a></li>
                            <li><a href="#">Dropdown 4</a></li>
                        </ul>
                    </li>
                    <li><a href="" class="active">Contact</a></li>
                </ul>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
</th:block>


</body>
<th:block th:replace="~{home-page :: js}"></th:block>
</html>