<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{home-page :: css}"></th:block>
    <style>
        #header {
            position: relative;
        }

        #footer {
            position: sticky;
            margin-top: 10%;
            background: #2c3e50;
        }
    </style>
</head>
<body style="background-color: #EFFFFD">

<th:block th:insert="~{layout :: header}"></th:block>

<main class="container">
    <div style="padding: 30px">
        <h1 style="color: #4E944F" class="text-center">Facility Management</h1>
    </div>

    <nav class="navbar justify-content-between container-fluid">
        <div>
            <!-- Button to Open the Modal -->
            <button class="btn btn-success" id="addNew">Add New Facility</button>
            <select id="selectFacilityType" class="btn btn-success">
                <option selected value="0" class="form-control">None</option>
                <option th:each="facilityType :${facilityTypeList}"
                        th:value="${facilityType.id}"
                        th:text="${facilityType.name}" class="form-control"></option>
            </select>


            <!--none add select-->
            <div class="modal fade" id="noneSelect">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" style="color: #4E944F">Mess</h4>
                        </div>
                        <div class="modal-body">
                            Vui lòng chọn facility
                        </div>
                    </div>
                </div>
            </div>

            <!--add room-->
            <form action="/facility/add" th:object="${facilityObj}" method="post">
                <div class="modal fade" id="addRoomFacility">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title" style="color: #4E944F">Add new Room facility</h4>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">

                                <table class="table table-hover" style="color: #000000">
                                    <select hidden th:field="*{facilityType}">
                                        <option th:each="facilityType :${facilityTypeList}"
                                                th:if="${facilityType.id == 1}"
                                                th:value="${facilityType.id}"></option>
                                    </select>
                                    <input type="hidden" th:field="*{standardRoom}">
                                    <input type="hidden" th:field="*{convenience}">
                                    <input type="hidden" th:field="*{poolArea}">
                                    <input type="hidden" th:field="*{numberOfFloors}">
                                    <tr>
                                        <th>Name</th>
                                        <td>
                                            <input class="form-control" th:field="*{name}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Rent type</th>
                                        <td>
                                            <select th:field="*{rentType}" class="form-select">
                                                <option th:each="rentType :${rentTypeList}" th:value="${rentType.id}"
                                                        th:text="${rentType.name}"></option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Area</th>
                                        <td>
                                            <input class="form-control" th:field="*{area}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Cost</th>
                                        <td>
                                            <input class="form-control" th:field="*{cost}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Facility free</th>
                                        <td>
                                            <input class="form-control" th:field="*{facilityFree}">
                                        </td>
                                    </tr>
                                </table>

                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger">Yes</button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>

            <!--add house-->
            <form action="/facility/add" th:object="${facilityObj}" method="post">
                <div class="modal fade" id="addHouseFacility">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title" style="color: #4E944F">Add new House facility</h4>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">

                                <table class="table table-hover" style="color: #000000">
                                    <select hidden th:field="*{facilityType}" class="form-control">
                                        <option th:each="facilityType :${facilityTypeList}"
                                                th:if="${facilityType.id == 2}"
                                                th:value="${facilityType.id}"></option>
                                    </select>
                                    <tr>
                                        <th>Name</th>
                                        <td>
                                            <input class="form-control" th:field="*{name}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Rent type</th>
                                        <td>
                                            <select th:field="*{rentType}" class="form-select">
                                                <option th:each="rentType :${rentTypeList}" th:value="${rentType.id}"
                                                        th:text="${rentType.name}"></option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Area</th>
                                        <td>
                                            <input class="form-control" th:field="*{area}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Cost</th>
                                        <td>
                                            <input class="form-control" th:field="*{cost}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Standard Room</th>
                                        <td>
                                            <input class="form-control" th:field="*{standardRoom}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Convenience</th>
                                        <td>
                                            <input class="form-control" th:field="*{convenience}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Number Off Floors</th>
                                        <td>
                                            <input class="form-control" th:field="*{numberOfFloors}">
                                        </td>
                                    </tr>
                                </table>

                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger">Yes</button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>

            <!--add villa-->
            <form action="/facility/add" th:object="${facilityObj}" method="post">
                <div class="modal fade" id="addVillaFacility">
                    <div class="modal-dialog modal-xl">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                                <h4 class="modal-title" style="color: #4E944F">Add new Villa facility</h4>
                            </div>
                            <!-- Modal body -->
                            <div class="modal-body">

                                <table class="table table-hover" style="color: #000000">
                                    <select hidden th:field="*{facilityType}" class="form-control">
                                        <option th:each="facilityType :${facilityTypeList}"
                                                th:if="${facilityType.id == 3}"
                                                th:value="${facilityType.id}"></option>
                                    </select>
                                    <tr>
                                        <th>Name</th>
                                        <td>
                                            <input class="form-control" th:field="*{name}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Rent type</th>
                                        <td>
                                            <select th:field="*{rentType}" class="form-select">
                                                <option th:each="rentType :${rentTypeList}" th:value="${rentType.id}"
                                                        th:text="${rentType.name}"></option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Area</th>
                                        <td>
                                            <input class="form-control" th:field="*{area}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Cost</th>
                                        <td>
                                            <input class="form-control" th:field="*{cost}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Standard Room</th>
                                        <td>
                                            <input class="form-control" th:field="*{standardRoom}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Convenience</th>
                                        <td>
                                            <input class="form-control" th:field="*{convenience}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Number Off Floors</th>
                                        <td>
                                            <input class="form-control" th:field="*{numberOfFloors}">
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Pool Area</th>
                                        <td>
                                            <input class="form-control" th:field="*{poolArea}">
                                        </td>
                                    </tr>
                                </table>

                            </div>
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger">Yes</button>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div></div>
        <div>
            <form action="/facility/list" style="padding: 15px">
                <table>
                    <tr>
                        <td>
                            <input name="nameSearch" th:value="${nameSearchValue}" class="form-control mr-sm-2">
                        </td>
                        <td>
                            <button type="submit" class="btn btn-success">
                                Search
                            </button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </nav>

    <div style="overflow-x:auto;">
        <table class="table table-bordered table-sm"
               style="color: #041C32 ; border-color: #CEE5D0;box-shadow: 5px 10px 18px #ADCF9F; white-space: nowrap">
            <thead>
            <tr style="background: #A3DA8D; color: #041C32 ">
                <th>STT</th>
                <th>Name</th>
                <th>Cost</th>
                <th>Rent Type</th>
                <th>Facility Type</th>
                <th colspan="2" class="text-center">Action</th>
            </tr>
            </thead>
            <tbody th:each="facility,loop :${facilityPage}">
            <tr>
                <!--        <td th:text="${facility.id}"></td>-->
                <td th:text="${loop.count + facilityPage.number * facilityPage.size}"></td>
                <td th:text="${facility.name}"></td>
                <td th:text="${#numbers.formatDecimal(facility.cost, 0, 'DEFAULT', 0, 'DEFAULT')}"></td>
                <td th:text="${facility.rentType.name}"></td>
                <td th:text="${facility.facilityType.name}"></td>
                <td>
                    <button class="btn btn-outline-success"
                            th:onclick="'getFacilityByIdThenOpenModal(' + ${facility.id} + ')'">
                        Edit
                    </button>
                </td>
                <td>
                    <!-- Button Open delete Modal -->
                    <button class="btn btn-outline-danger" data-toggle="modal"
                            th:data-target="'#deleteModal'+${facility.id}">
                        Delete
                    </button>


                    <!-- The delete Modal -->
                    <div class="modal fade" th:id="'deleteModal'+${facility.id}" style="color: crimson">
                        <div class="modal-dialog">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title" style="color: #4E944F">Delete <span
                                            th:text="${facility.name}"></span></h4>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    Bạn có chắc chắn muốn xóa không?
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
                                    <form th:action="@{/facility/delete/{id}(id=${facility.id})}" method="post">
                                        <button type="submit" class="btn btn-danger">Yes</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="row text-center">
            <p1 th:text="${pageEmpty}" style="color: crimson"></p1>
        </div>

        <!--paging-->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item">
                    <a class="page-link" th:if="${facilityPage.hasPrevious()}"
                       th:href="@{/facility/list(page=${facilityPage.number - 1})}">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" th:if="${facilityPage.hasPrevious()}"
                                         th:href="@{/facility/list(page=${facilityPage.number - 1})}"
                                         th:text="${facilityPage.number}"></a></li>
                <li class="page-item"><span class="page-link" th:text="${facilityPage.number + 1}"></span></li>
                <li class="page-item"><a class="page-link" th:if="${facilityPage.hasNext()}"
                                         th:href="@{/facility/list(page=${facilityPage.number + 1})}"
                                         th:text="${facilityPage.number + 2}"></a></li>
                <li class="page-item">
                    <a class="page-link" th:if="${facilityPage.hasNext()}"
                       th:href="@{/facility/list(page=${facilityPage.number + 1})}">Next</a>
                </li>
            </ul>
        </nav>


        <!-- mess Modal -->
        <div th:if="${mess!=null}" class="modal fade" id="deleteSuccessModal">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" style="color: #4E944F">Mess</h4>
                    </div>
                    <div class="modal-body" th:text="${mess}">
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="editFacilityModal">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title" style="color: #4E944F">Edit <span></span> facility</h4>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body" id="editFacilityTable">

                    </div>
                    <!-- Modal footer -->
                </div>
            </div>
        </div>
    </div>
</main>

<th:block th:replace="~{home-page :: footer}"></th:block>
</body>
<th:block th:replace="~{home-page :: js}"></th:block>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $("document").ready(function () {
        $("#deleteSuccessModal").modal("show");

        $("#addNew").click(function () {
            let typeAdd = $("#selectFacilityType").val();
            switch (typeAdd) {
                case "0":
                    $("#noneSelect").modal("show");
                    break;
                case "1":
                    $("#addRoomFacility").modal("show");
                    break;
                case "2":
                    $("#addHouseFacility").modal("show");
                    break;
                case "3":
                    $("#addVillaFacility").modal("show");
                    break;
            }
        })
    });

    function getPageFacility() {

    }


    function confirmEditFacility(id) {
        console.log(id)
        let idVal = $("#facilityId" + `${id}`).val();
        let nameVal = $("#facilityName" + `${id}`).val();
        let areaVal = $("#facilityArea" + `${id}`).val();
        let costVal = $("#facilityCost" + `${id}`).val();
        let standardRoomVal = $("#facilityStandardRoom" + `${id}`).val();
        let convenienceVal = $("#facilityConvenience" + `${id}`).val();
        let poolAreaVal = $("#facilityPoolArea" + `${id}`).val();
        let numberOfFloorsVal = $("#facilityNumberOfFloors" + `${id}`).val();
        let facilityFreeVal = $("#facilityFree" + `${id}`).val();
        let facilityTypeIdVal = $("#facilityType" + `${id}`).val();
        let rentTypeIdVal = $("#facilityRentType" + `${id}`).val();
        console.log(idVal, nameVal, areaVal, costVal, standardRoomVal, convenienceVal, poolAreaVal, numberOfFloorsVal,
            facilityFreeVal, facilityTypeIdVal, rentTypeIdVal);
        let FacilityObj = {
            id: idVal,
            name: nameVal,
            area: areaVal,
            cost: costVal,
            standardRoom: standardRoomVal,
            convenience: convenienceVal,
            poolArea: poolAreaVal,
            numberOfFloors: numberOfFloorsVal,
            facilityFree: facilityFreeVal,
            facilityType: {
                id: facilityTypeIdVal
            },
            rentType: {
                id: rentTypeIdVal
            }
        }
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "PUT",
            url: "http://localhost:8080/api/facility",
            data: JSON.stringify(FacilityObj),
            success: function (resultSuccess) {
                console.log(resultSuccess);
                alert("sửa thành công")
                location.reload();
            },
            error: function (resultError) {
                alert("Edit thất bại");
            }
        });
    }


    function getFacilityByIdThenOpenModal(id) {
        $.ajax({
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            type: "GET",
            url: "/api/facility/" + id,
            success: function (facilityDTO) {
                console.log(facilityDTO);
                if (facilityDTO.facility.facilityType.id === 1) {
                    let editTable = "";
                    editTable +=
                        `<table class="table table-hover" style="color: #000000">
                    <tr>
                        <th>Id facility</th>
                        <td>
                            <input type="hidden" id="facilityId${id}" value="${facilityDTO.facility.id}">
                            <div class="form-control bg-light">${facilityDTO.facility.id}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Facility Type</th>
                        <input type="hidden" id="facilityType${id}" value="${facilityDTO.facility.facilityType.id}">
                        <td><div class="form-control bg-light">${facilityDTO.facility.facilityType.name}</div></td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td><input id="facilityName${id}" value="${facilityDTO.facility.name}" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Area</th>
                        <td><input id="facilityArea${id}" value="${facilityDTO.facility.area}" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Cost</th>
                        <td><input id="facilityCost${id}" value="${facilityDTO.facility.cost}" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Facility Free</th>
                        <td><input id="facilityFree${id}" value="${facilityDTO.facility.facilityFree}" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Rent Type</th>
                        <td>
                        <select id="facilityRentType${id}" class="form-select">`
                    for (let i = 0; i < facilityDTO.rentTypeList.length; i++) {
                        editTable += `<option value="${facilityDTO.rentTypeList[i].id}" >${facilityDTO.rentTypeList[i].name}</option>`
                    }
                    editTable +=
                        `</select>
                        </td>
                    </tr>
                </table>
            <div class="modal-footer">
                <button type="button" onclick="confirmEditFacility(${id})" class="btn btn-danger">Yes</button>
            </div>`

                    $("#editFacilityTable").html(editTable);
                    $("#editFacilityModal").modal("show");
                }

                if (facilityDTO.facility.facilityType.id === 2) {
                    let editTable = "";
                    editTable +=
                        `<table class="table table-hover" style="color: #000000">
                    <tr>
                        <th>Id facility</th>
                        <td>
                            <input type="hidden" id="facilityId${id}" value="${facilityDTO.facility.id}" class="form-control">
                            <div class="form-control bg-light">${facilityDTO.facility.id}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Facility Type</th>
                        <input type="hidden" id="facilityType${id}" value="${facilityDTO.facility.facilityType.id}" class="form-control">
                        <td><div class="form-control bg-light">${facilityDTO.facility.facilityType.name}</div></td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td><input id="facilityName${id}" value="${facilityDTO.facility.name}" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Area</th>
                        <td><input id="facilityArea${id}" value="${facilityDTO.facility.area}" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Cost</th>
                        <td><input id="facilityCost${id}" value="${facilityDTO.facility.cost}" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Stander room</th>
                        <td><input id="facilityStanderRoom${id}" value="${facilityDTO.facility.standardRoom}" class="form-control"></td>
                    </tr>
                     <tr>
                        <th>Convenience</th>
                        <td><input id="facilityConvenience${id}" value="${facilityDTO.facility.convenience}" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Number of floors</th>
                        <td><input id="facilityNumberOfFloors${id}" value="${facilityDTO.facility.numberOfFloors}" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Rent Type</th>
                        <td>
                        <select id="facilityRentType${id}" class="form-select">`
                    for (let i = 0; i < facilityDTO.rentTypeList.length; i++) {
                        editTable += `<option value="${facilityDTO.rentTypeList[i].id}" class="btn">${facilityDTO.rentTypeList[i].name}</option>`
                    }
                    editTable +=
                        `</select>
                        </td>
                    </tr>
                </table>
            <div class="modal-footer">
                <button type="button" onclick="confirmEditFacility(${id})" class="btn btn-danger">Yes</button>
            </div>`

                    $("#editFacilityTable").html(editTable);
                    $("#editFacilityModal").modal("show");
                }

                if (facilityDTO.facility.facilityType.id === 3) {
                    let editTable = "";
                    editTable +=
                        `<table class="table table-hover" style="color: #000000">
                    <tr>
                        <th>Id facility</th>
                        <td>
                            <input type="hidden" id="facilityId${id}" value="${facilityDTO.facility.id}" class="form-control">
                            <div class="form-control bg-light">${facilityDTO.facility.id}</div>
                        </td>
                    </tr>
                    <tr>
                        <th>Facility Type</th>
                        <input type="hidden" id="facilityType${id}" value="${facilityDTO.facility.facilityType.id}" >
                        <td><div class="form-control bg-light">${facilityDTO.facility.facilityType.name}</div></td>
                    </tr>
                    <tr>
                        <th>Name</th>
                        <td><input id="facilityName${id}" value="${facilityDTO.facility.name}" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Area</th>
                        <td><input id="facilityArea${id}" value="${facilityDTO.facility.area}" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Cost</th>
                        <td><input id="facilityCost${id}" value="${facilityDTO.facility.cost}" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Stander room</th>
                        <td><input id="facilityStanderRoom${id}" value="${facilityDTO.facility.standardRoom}" class="form-control"></td>
                    </tr>
                     <tr>
                        <th>Convenience</th>
                        <td><input id="facilityConvenience${id}" value="${facilityDTO.facility.convenience}" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Number of floors</th>
                        <td><input id="facilityNumberOfFloors${id}" value="${facilityDTO.facility.numberOfFloors}" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Pool area</th>
                        <td><input id="facilityPoolArea${id}" value="${facilityDTO.facility.poolArea}" class="form-control"></td>
                    </tr>
                    <tr>
                        <th>Rent Type</th>
                        <td>
                        <select id="facilityRentType${id}" class="form-select">`
                    for (let i = 0; i < facilityDTO.rentTypeList.length; i++) {
                        editTable += `<option value="${facilityDTO.rentTypeList[i].id}" class="btn">${facilityDTO.rentTypeList[i].name}</option>`
                    }
                    editTable +=
                        `</select>
                        </td>
                    </tr>
                </table>
            <div class="modal-footer">
                <button type="button" onclick="confirmEditFacility(${id})" class="btn btn-danger">Yes</button>
            </div>`

                    $("#editFacilityTable").html(editTable);
                    $("#editFacilityModal").modal("show");
                }

            },
            error: function (resultError) {
                alert("Lấy facility thất bại")
            }
        });
    }


</script>
</html>