<div id="main" style="margin-top: 110px">
  <div style="color: #ffffff; font-size: 60px; text-align: center;">
    CUSTOMER LIST PAGE
  </div>
  <div style="overflow-x:auto ; margin-top: 50px; background-color: beige;
 border-radius: 20px; box-shadow:5px 5px 5px 5px #ADCF9F" class="container">

    <!--search-->
    <nav class="navbar justify-content-between container-fluid" style="margin-top: 20px">
      <div>
        <button class="btn btn-success" [routerLink]="['/customer-add']">Add New
        </button>
      </div>

      <div></div>

      <div>
        <form class="d-flex" [formGroup]="searchForm" (ngSubmit)="getFormSearch()">
          <input class="form-control me-2" type="search" placeholder="Search By Name"
                 formControlName="nameSearch">
          <input class="form-control me-2" type="search" placeholder="Search By Email"
                 formControlName="emailSearch">
          <button type="submit" class="btn btn-outline-success">Search</button>
        </form>
      </div>
    </nav>

    <!--table-->
    <table class="table table-bordered table-sm"
           style="color: #041C32 ; border-color: #CEE5D0;box-shadow: 5px 10px 18px #ADCF9F; white-space: nowrap">
      <thead>
      <tr style="background: #A3DA8D; color: #041C32">
        <th>STT</th>
        <th>Name</th>
        <th>Birth</th>
        <th>Id Card</th>
        <th>Email</th>
        <th>Gender</th>
        <th>Customer Type</th>
        <th colspan="2" class="text-center">action</th>
      </tr>
      <ng-container *ngIf="customerList.length !== 0 ; else elseBlock">
        <tr *ngFor="let customer of customerList | paginate: { itemsPerPage: 5, currentPage: page }; index as id">
          <td>{{id + 1 + (5 * (page - 1))}}</td>
          <td>{{customer.name}}</td>
          <td>{{customer.dateOfBirth}}</td>
          <td>{{customer.idCard}}</td>
          <td>{{customer.email}}</td>
          <ng-container *ngIf="customer.gender === 1; else elseBlockGender">
            <td>
              Nam
            </td>
          </ng-container>
          <ng-template #elseBlockGender>
            <td>
              Nữ
            </td>
          </ng-template>
          <td>{{customer.customerType.name}}</td>
          <td style="text-align: center">
            <button class="btn btn-danger btn-sm" [routerLink]="['/customer-edit', customer.id]">Edit
            </button>
          </td>
          <td style="text-align: center">
            <button class="btn btn-danger btn-sm" (click)="showDelete(customer)" data-bs-toggle="modal"
                    data-bs-target="#deleteModal">Delete
            </button>
          </td>
        </tr>
      </ng-container>
      <ng-template #elseBlock>
        <tr style="text-align: center; color: crimson">
          <td colspan="7">
            <h1>Data is empty</h1>
          </td>
        </tr>
      </ng-template>
      </thead>
    </table>
    <div style="text-align: end">
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
    <!--    &lt;!&ndash;paging&ndash;&gt;-->
    <!--    <nav aria-label="Page navigation example">-->
    <!--      <ul class="pagination justify-content-end">-->
    <!--        <li class="page-item">-->
    <!--          <a class="page-link">Previous</a>-->
    <!--        </li>-->
    <!--        <li class="page-item"><a class="page-link">1</a></li>-->
    <!--        <li class="page-item"><a class="page-link">2</a></li>-->
    <!--        <li class="page-item"><a class="page-link">3</a></li>-->
    <!--        <li class="page-item">-->
    <!--          <a class="page-link">Next</a>-->
    <!--        </li>-->
    <!--      </ul>-->
    <!--    </nav>-->
    <!--    &lt;!&ndash;end paging&ndash;&gt;-->

  </div>
</div>

<!-- delete Modal -->
<div class="modal fade" id="deleteModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Delete</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        Are You Sure Delete this Customer?
        <div>name is <span style="color: crimson">{{name}}</span></div>
        <div> email is <span style="color: crimson">{{email}}</span></div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">No</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteCustomer()">Yes
        </button>
      </div>
    </div>
  </div>
</div>
<!-- end delete Modal -->
