* {
  box-sizing: border-box;
}

#menu {
  background-color: beige;
  transition: 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 2;
}


#menu a {
  text-decoration: none;
  color: #0a600a;
  font-weight: bolder;
  font-size: 20px;
}

#menu a:hover {
  color: #63cb63;
}

