
* {
    box-sizing: border-box;
}

#title-area{
    position: relative;
    text-align: center;
    color: #ffffff;
    font-size: 5vh;
}

#title-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#title-img{
    width: 100%;
    filter: brightness(40%);
}

.picture{
    padding: 15px;
}


img {
    width: 100%;
    align-items: center;
}

.card{
    box-shadow: 5px 5px 5px #c2c2c2;
}

.card img{
    height: 250px;
    position: static;
    object-fit: cover;
}

.card-group{
    margin-top: 40px;
    background-color: #e3e3e3;
    border-radius: 5px;
    box-shadow: 5px 10px 10px #a4a4a4;
}

.button-area{
    margin-top: 10px;
}

#add-new{
    margin: 15px 0 0 5px;
}

/*body{*/
/*    position: relative;*/
/*    background-image: url("assets/img/12.jpg");*/
/*    background-repeat: no-repeat;*/
/*    background-attachment: fixed;*/
/*    background-size: cover;*/
/*    backdrop-filter: brightness(30%);*/
/*}*/


